.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem; 
  }
  
  .card {
    width: 100%;
    max-width: 300px; 
    box-sizing: border-box;
    padding: 1em;
  }
  
  .card-img-top {
    width: 100%;
    height: auto; 
  }
  